.flexContainer {
	display: flex;
}

.justifyCenter {
	justify-content: center;
}

.justifyBetween {
	justify-content: space-between;
}

.justifyAround {
	justify-content: space-around;
}

.justifyEnd {
	justify-content: flex-end;
}

.alignCenter {
	align-items: center;
}

.alignEnd {
	align-items: flex-end;
}

.flexColumn {
	flex-direction: column;
}
