.flexContainer {
	display: flex;
}

.justifyCenter {
	justify-content: center;
}

.justifyBetween {
	justify-content: space-between;
}

.justifyAround {
	justify-content: space-around;
}

.alignCenter {
	align-items: center;
}
