@import '../../../style/variables.scss';

.feature-section {
	position: relative;
	height: 40rem;
	background: url(../../../images/bg-pattern-circles.svg),
		linear-gradient(0deg, $color-blue, $color-blue-black);
	background-repeat: no-repeat;
	background-position: -10% 75%;

	border-radius: 0 $border-radius-default 0 $border-radius-default;
}

.phone-img {
	position: absolute;
	top: -65px;
}
