$color-red: #ff525d;
$color-red-light: #ff7a85;

$color-blue-black: hsl(240, 10%, 16%);
$color-blue: #1f3f5b;
$color-grey-dark: hsl(207, 13%, 34%);
$color-grey: #c8c8cb;
$color-white: rgb(255, 255, 255);

$padding-xs: 1.6rem;
$padding-sm: 3.2rem;
$padding-med: 4.8rem;
$padding-lg: 6.3rem;
$padding-xl: 16.7rem;

// Background gradient - body:

// - Very dark gray blue: hsl(237, 17%, 21%)
// - Very dark desaturated blue: hsl(237, 23%, 32%)
