@import '../../../style/variables.scss';

.hero {
	color: $color-white;

	&Title {
		font-size: 6.4rem;
		font-weight: 600;
	}

	&Text {
		font-size: 2rem;
		font-weight: 400;
	}
}

.title {
	font-size: 4rem;
}

.subtitle {
	font-size: 2.8rem;
}

.body {
	line-height: 2.8rem;
}

.footer-title {
	color: $color-white;
	font-family: $font-secondary;
	font-size: 1.5rem;
	font-weight: 500;
}

.text {
	&-blue {
		color: $color-blue;
	}

	&-white {
		color: $color-white;
	}
}

.text-align {
	&-left {
		text-align: left;
	}

	&-center {
		text-align: center;
	}

	&-right {
		text-align: right;
	}
}
